body {
  background: linear-gradient(
    91.4deg,
    rgb(235, 104, 104) -6%,
    rgb(235, 142, 65) 12.4%,
    rgb(233, 221, 101) 31.7%,
    rgb(180, 231, 111) 51.4%,
    rgb(92, 204, 230) 70.1%,
    rgb(101, 113, 233) 89.4%,
    rgb(170, 95, 248) 107.7%
  );
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: linear-gradient(
    94.3deg,
    rgba(104, 213, 253, 0.63) 0.7%,
    rgba(169, 236, 91, 0.79) 18.6%,
    rgba(253, 246, 116, 0.98) 39.1%,
    rgba(255, 164, 120, 0.92) 63%,
    rgba(250, 115, 188, 0.89) 85.3%,
    rgb(97, 176, 242) 108.2%
  );
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}
h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 36px;
}
select {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px;
}
option {
  font-weight: normal;
  display: block;
  padding-block-start: 0px;
  padding-block-end: 1px;
  min-block-size: 1.2em;
  padding-inline: 2px;
  white-space: nowrap;
}
div {
  display: block;
  unicode-bidi: isolate;
}
.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
h2 {
  margin: 0 0 5px;
  font-size: 28px;
}
.date {
  opacity: 0.7;
}
.time {
  font-size: 48px;
  font-weight: bold;
}
.city:last-child {
  border: none;
}
footer {
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
}
